<a href="/">click here to go home</a>
<% if (currentUser) { %>
    <% if (currentUser.role === 'super admin' ) { %>
     <a href="/superadmin/admins/new">add admin</a>
     <a href="/superadmin/admins">delete admin</a>
    <% } %>
    <% if (currentUser.role === 'admin' || currentUser.role === 'super admin') { %>
     <a href="/admin/teachers/new">add teacher</a>
     <a href="/admin/teachers">delete teacher</a>
    <% } %>
    
    <a href="/auth/logout">logout</a>
<% } else { %>
    <a href="/auth/google">google sign in</a>
<% } %>

<br>
<br>
<br>




<% if (sucess && sucess.length) { %>
 <%= sucess %>
<br>
<br>
<% } %>
<% if (error && error.length) { %>
    <%= error %>
<br>
<br>
<% } %>


