<a href="/">click here to go home</a>
<a href="/teachers">teachers</a>
<a href="/courses">courses</a>

<% if (currentUser) { %>
   <p>you are a <%= currentUser.role %></p> 
    <% if (currentUser.role === 'teacher') { %>
     <a href="/teachers/<%= currentUser._id %>">profile</a>
    <% } %>
    <% if (currentUser.role === 'super admin' ) { %>
     <a href="/admins">admins</a>
    <% } %>
    <a href="/auth/logout">logout</a>
<% } else { %>
    <!-- <form action="/auth/google" method="post">
        <button>google sign in</button>
    </form> -->
    <a href="/auth/google">google sign in</a>
<% } %>

<br>
<br>
<br>
<% if (sucess && sucess.length) { %>
 <%= sucess %>
<br>
<br>
<% } %>
<% if (error && error.length) { %>
    <%= error %>
<br>
<br>
<% } %>


