<a href="/">click here to go home</a>
<a href="/auth/google">google sign in</a>
<a href="/auth/logout">logout</a>
<br>
<br>
<br>
<% if (sucess && sucess.length) { %>
 <%= sucess %>
<% } %>

<% if (error && error.length) { %>
    <%= error %>
<% } %>
