<% layout('layouts/boilerplate') %>
    <a href="/courses">our courses</a>
    <a href="/teachers">our teachers</a>
    <a href="/students">see students</a>
    <a href="/superadmin">super admin</a>

    <br>