<% layout('layouts/boilerplate') %>
    <form action="/students" method="POST">
        <div>
            <label for="name">name</label>
            <input type="text" id="name" name="student[name]">
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" id="email" name="student[email]">
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="student[password]">
        </div>
        <div>
            <label for="membership">membership</label>
            <input type="text" id="membership" name="student[membership]">
        </div>
        <div>
            <label for="membershipDate">membership Date</label>
            <input type="date" id="membershipDate" name="student[membershipDate]">
        </div>
        <button>register</button>
    </form>
    <a href="/">home</a>