<% layout('layouts/boilerplate') %>


<h1>delete admin</h1>
    
    <ul>
        <% for (let user of users){%>
            <li><a href="/users/<%= user._id %>"><%= user.name %></a></li>
            <form action="/superadmin/admins/<%= user._id %>?_method=DELETE" method="post">   <button>delete admin</button> </form>
        <% }%>
    </ul>