<% layout('layouts/boilerplate') %>


<h1>all admins</h1>
    <a href="/admins/new">add admin</a>
    <ul>
        <% for (let admin of admins){%>
            <li><a href="/admins/<%= admin._id %>"><%= admin.name %></a></li>
            <form action="/admins/<%= admin._id %>?_method=DELETE" method="post"><button>delete admin</button></form>
        <% }%>
    </ul>