<% layout('layouts/boilerplate') %>
<h1>our teachers</h1>
    
    <ul>
        <% for (let user of users){%>
        <li><a href="/users/<%= user._id %>"><%= user.name %></a></li> <form action="/admin/teachers/<%= user._id %>" method="post"><button>add teacher</button></form>
        <% }%>
    </ul>